:root {
    --bg-1: #000000;
    --bg-2: #1f1f28;
    --bg-3: #2a2a37;
    --txt-1: #c5c9c5;
    --txt-2: #a6a69c;
    --txt-3: #727169;
    --txt-4: #76946a;
    --txt-err: #c34043;
    --font-family: 'JetBrainsMono NF', monospace;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg-1);
    color: var(--txt-2);

    font-family: var(--font-family);
    font-weight: bold;
    font-size: 100%;
    line-height: 1.5;
}

h1,
h2,
h3,
h4 {
    font-weight: 300;
    color: var(--txt-1);
}

button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 0;
    color: var(--txt-3);

    &:hover {
        color: var(--txt-2);
    }
    &:disabled {
        cursor: default;
        color: var(--txt-3);
    }
}

.panel-wrapper {
    position: relative;
    min-width: 0;
    display: flex;
}

.panel {
    padding: 1.5rem;
    border: 2px solid var(--bg-3);
    overflow: hidden;
    width: 100%;
    min-width: 8rem;
}

.panel-label,
.widget-label {
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: var(--bg-1);
    color: var(--txt-4);
    padding: 0 4px;
    z-index: 10;
}

.widget-label:hover:not(:disabled) {
    color: var(--txt-3);
}

.widget-label:disabled {
    cursor: default;
    color: var(--txt-4);
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    font: inherit;
    color: inherit;
    outline: none;
}

.error {
    color: var(--txt-err);
}

.bright {
    color: var(--txt-1);
}

@keyframes pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
}

.dark {
    color: var(--txt-3);
}
